.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background: rgb(255 255 255);
  width: 40%;
  height: 80vh;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 75px;
}

.modalHeader h2 {
  margin-bottom: 10px;
}

.modalBody {
  margin-bottom: 20px;
  overflow-y: auto;
  background: #f5f5f5;
  border-radius: 5px;
}

.description {
  min-height: 40px;
  max-height: 310px;
}

.descriptionFont {
  font-size: 16px;
  font-weight: 100;
}

.modalBody p {
  color: #333;
  text-align: left;
  padding: 10px;
  line-height: normal;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
   monospace;  */
  text-transform: none;
  /* font: normal;
  font-size: 16px;
  font-weight: 100; */
}

.codeSnippet {
  padding: 10px;
  /* font-family: monospace; */
  max-height: 300px;
  min-height: 100px;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
}

.closeBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.closeBtnContainer h2 {
  font: 24px Arial, sans-serif;
  font-weight: bold;
}

.closeBtn {
  background: #f5f5f5;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: end;
}

.modifyBtn {
  padding: 5px;
  box-shadow: 0px 4px 4px #00000029;
  border-radius: 3px;
  color: white;
  background-color: #007cc3;
  font: normal normal 400 12px/16px Segoe UI;
}
