.page-title {
  text-align: left;
  font: normal normal 400 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #343741;
  text-transform: uppercase;
  margin-bottom: 52px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

.add-new-btn {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 0.10000000149011612px solid #c7c7c7;
  border-radius: 3px;
  color: #007cc3;
  font-size: 20px;
  padding: 3px 8px;
}
.available-tools-section {
  padding: 33px 37px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 30px 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.visibleToolsContainer{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 40px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.subHeaderContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.card {
  background: #3d4359 0% 0% no-repeat padding-box;
  box-shadow: 5px 15px 6px #00000029;
  border-radius: 4px;
  width: 200px;
  min-height: 140px;
  height: 140px;
  max-height: 160px;
  padding: 11px;
  color: white;
  position: relative;
}

.card-title {
  font-family: Segoe UI;
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: -0.8px;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: 4px;
  max-height: 35px;
}

.card-description {
  font: normal normal 600 12px/16px Segoe UI;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 5px;
}

.card-description-title {
  font: normal normal 400 12px/16px Segoe UI;
  letter-spacing: -0.24px;
  color: #ffffff;
  max-height: 32px;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dash {
  top: 211px;
  left: 101px;
  width: 28px;
  height: 0px;
  border: 2px solid #0071b3;
}
.btn-grp {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 20px;
  right: 5px;
}


.search-container {
  position: relative;
  display: inline-block;
}

.search-button {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 9px 13px 10px 13px;
  background-color: #c3c1cf;
  border-radius: 4px;
}

.search-input {
  display: none;
  position: absolute;
  right: 100%;
  width: 200px;
  padding: 10px;
  border: none;
  font-size: 15px;
  outline: none;
  background-color: #c3c1cf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-container:hover .search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-container:hover .search-input {
  display: block;
}

.white-icon {
  color: white;
}

.search-outer-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-card {
  background: #b0b3bc 0% 0% no-repeat padding-box;
  color: black;
  border: none;
  font: normal normal normal 12px/14px Segoe UI;
  padding: 9px 14px 21px 14px;
}

.cancel-btn {
  border: none;
  background: transparent;
  float: right;
}

.delete-btn-container {
  text-align: center;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.delete-btn-container button {
  background-color: #6a2020;
  color: white;
  font: normal normal 600 12px/14px Segoe UI;
  border: none;
  padding: 6px 7px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.email-id-input {
  padding: 8px 4px 7px 4px;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 100%;
  margin-top: 13px;
}

.email-id-input::placeholder {
  color: #3d4359;
}

.setting {
  display: flex;
  align-items: center;
}

.plus {
  background: #f5f5f5;
  box-shadow: 0px 4px 4px #00000029;
  border: 1px solid #c7c7c745;
  border-radius: 3px;
  padding: 7px;
  display: flex;
}

.error {
  color: #721c24;
  margin-top: 10px;
  font: normal normal 600 12px/14px Segoe UI;
  text-align: center;
}

.setting {
  position: relative;
  display: flex;
  align-items: center;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #007cc3;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.searchedToolText {
  margin-bottom: 16px;
  font-weight: bold;
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filteredToolText {
  margin-bottom: 16px;
  font-weight: bold;
}

.deleteBtn,
.editBtn {
  height: 24px;
  position: absolute;
  transform: translateY(50%);
  box-shadow: 0px 4px 4px #00000029;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  width: 30px;
  background-color: #6a2020;
  right: 44px;
  bottom: 0;
}

.editBtn {
  width: 24px;
  background-color: #007ac0;
  right: 10px;
  bottom: 0;
}

.action-info {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-top: 2px;
  display: flex;
  align-items: center; 
}
.warningIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}