.inputWithTags {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  height: 60px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.inputWithTags::-webkit-scrollbar{
  height: 10px;
}

.selectedTags {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tag {
  background-color: #007ac0;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  width: max-content;
}

.tag:hover {
  background-color: #0056b3;
}

.closeBtn {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}

.searchInput {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.dropdownList {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  z-index: 10;
}

.dropdownList li {
  padding: 8px;
  cursor: pointer;
}

.dropdownList li:hover {
  background-color: #f0f0f0;
}

.iconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007ac0;
  margin-right: 10px;
  cursor: pointer;
}
