.dropdownContainer {
  position: relative;
}

.selectContainer {
  background: #eee;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  position: relative;
  background: #eaeaea;
  box-shadow: inset 0px 1px 4px #00000029;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 12px/16px Segoe UI;
  letter-spacing: 0px;
  color: #382261;
  text-transform: uppercase;
}
