.debugStepsWrapper {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-top: 0;
}

.eachSteps {
  max-height: 150px;
  display: inline-flex;
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
}

.eachSteps:last-child{
  border-bottom: none;
}

.stepHeader {
  font-weight: 600;
  font-size: 12px;
  min-width: 140px;
}

.stepsContent {
  color: #222;
  font-size: 13px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
}

.stepCount {
  background: #007acc;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 10px;
  margin-right: 1px;
}

.userQueryStage {
}

.toolsCallStage {
}

.toolsCallStage .stepsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AiHumanStage {
}

.stepsToolBlockWrapper {
  background: #f8fafc;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 8px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.toolCallRow {
  font-size: 12px;
  color: #374151;
  margin-block: 3px;
  display: flex;
}

.toolCallRow.toolName {
  font-weight: 500;
  color: #007acc;
  font-size: 12px;
  margin-bottom: 2px;
}

.toolTitle {
  color: #374151;
  font-weight: 500;
  min-width: 60px;
  max-width: 75px;
  word-break: break-all;
}

.toolResponse {
  margin-top: 2px;
  font-family: monospace;
  font-size: 12px;
  color: #222;
}
