.mainContainer {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  margin-top: 43px;
  height: Calc(100vh - 45px);
  overflow: hidden;
}

.dashboardContainer {
  margin-left: 70px;
  width: calc(100% - 70px);
  /* transition: margin-left 0.3s ease; */
  min-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 10000;
}
