.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container::after {
  display: none;
  content: "";
  position: absolute;
  top: -3px;
  left: 15px;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #343741 transparent transparent transparent;
}

.tooltip-container:hover::after {
  display: block;
}

.info-icon {
  margin-left: 6px;
  width: 18px;
  height: 18px;
  transition: fill 0.3s ease;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #ccc;
  color: black;
  font-weight: 500;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 111%;
  left: -35px;
  z-index: 10;
  transition: opacity 0.3s ease;
  font-size: 12px;
  white-space: nowrap;
}
