.toast {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font: normal normal normal 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #343741;
  text-transform: uppercase;
  border: 1px solid green;
  gap: 15px;
  border-radius: 3px;
  min-width: 100%;
  position: relative;
}

.toast.success {
  border: 1px solid green;
}

.toast.error {
  border: 1px solid #b32b2b;
}
.status-section {
  margin-top: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.icon-container.error {
  background-color: #b32b2b;
  padding: 8.5px;
}

.icon-container.success {
  background-color: #8eaa20;
  padding: 5px;
}

.close-btn{
    position: relative;
    margin-left: auto;
}