.accordion {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* margin: 10px 0; */
  margin-bottom: 10px;
  overflow: visible;
  width: 80%;
  /*background: #f1f1f1 0% 0% no-repeat padding-box;*/
  background: #e8f5e9 0% 0% no-repeat padding-box;
}

.accordion-header {
  
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  position: relative;
}

.accordion-header p {
  width: 80%;
  margin: 0;
}

.accordion-content {
  padding: 10px;
  position: relative;
  z-index: 0;
  background: #e0e0e0 0% 0% no-repeat padding-box;
  font-family: Segoe UI;
}

.accordion-content pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font: normal normal 400 15px/27px Segoe UI;
}
 
.accordion-content code {
  color: green;
}

.accordion-text {
  overflow-wrap: break-word;
  text-wrap: auto;
}

.arrow {
  transition: transform 0.3s;
  /* background: #007cc3 0% 0% no-repeat padding-box; */
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #373737;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  bottom: -10px;
  z-index: 10;
  cursor: pointer;
}
.accordionButtonSend {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #373737;
  text-transform: uppercase;
  /* position: absolute; */
  z-index: 10;
  cursor: pointer;
  right: 75px;
    bottom: 7px;
}
.accordionContainerToolCall {
  max-width: 100%;
  padding: 3px;
  position: relative;
  background: #e0e0e0 0% 0% no-repeat padding-box;
  font-family: Segoe UI;
  box-shadow: inset 0px 1px 3px #00000029;
  border-radius: 5px;
}
.toolNameCss{
  display: flex;
  padding-bottom: 3px;

}
.toolCallCss{
  padding-bottom: 3px;
}
.toolNameTextCss{
  margin: -2px;
  margin-left: 2px;
  padding: 1px;
}
.argumentinputCss{
  margin-bottom:12px;
  display: flex;
}
.toolcalltextCss{
       margin-bottom: 7px;
}
.submitButtonCss{
  display: flex;
  background-color: #007cc3;
  margin-right: 2px;
  border-radius: 3px;
  padding: 2px;
}
.submitChanges{
  color: white;
  padding: 4px;
}