.venv/
env/
new/
*__pycache__/

*.db
*.db-shm
*.db-wal

*.ipynb
*.zip

.vscode/

user_uploads/
evaluation_uploads/
uploaded_sqlite_dbs/
sdlc/
Hugging_face/


my_env
!Export_Agent/Agentcode/Agent_Frontend/.env
