.tabHeader {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: thin; 
  position: relative;
}

.tab {
  background-color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
}

.activeTab {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  position: relative;
  top: 1px;
  font-size: 14px;
}

.tabContent {
  padding-inline: 10px;
  height: calc(100vh - 120px);
  overflow: hidden;
}

/* Customize scrollbar for tabHeader */
.tabHeader::-webkit-scrollbar {
  height: 4px;
}

.tabHeader::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.tabHeader::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.tabHeader::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Ensure tabs have minimum width */
.tab, .activeTab {
  min-width: fit-content;
  flex-shrink: 0;
}

.evaluateMetrics{
  display: block;
}
