/* Admin Screen Tabs Styling */
.tabHeader {
  display: flex;
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 0;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
  scrollbar-width: thin; /* For Firefox */
  position: relative;
}

.tab {
  background-color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
}

.activeTab {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  position: relative;
  top: 1px;
  font-size: 14px;
}

.tabContent {
  padding: 10px;
  padding-left: 0;
  height: Calc(100vh - 95px);
  position: relative;
  overflow: hidden;
}

/* Customize scrollbar for tabHeader */
.tabHeader::-webkit-scrollbar {
  height: 4px;
}

.tabHeader::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.tabHeader::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.tabHeader::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Ensure tabs have minimum width */
.tab,
.activeTab {
  min-width: fit-content;
  flex-shrink: 0;
}

.registrationForm {
  height: Calc(100vh - 155px);
  overflow: auto;
}

.registrationForm :global(.div-login) {
  width: fit-content;
  position: static;
  transform: none;
  left: 0;
  bottom: 0;
}

.registrationForm :global(.app-container) {
  height: auto !important;
}

.registrationForm :global(.app-container img) {
  display: none;
}

.registrationForm :global(.app-container) {
  background-image: none;
  background: none;
  padding: 0;
}

.registrationForm :global(.remember-style),
.registrationForm :global(.hyperlink) {
  display: none;
}

.adminUnused {
  height: 100%;
  /* overflow: auto; */
}

.updatePassword {
  display: block;
  max-width: 455px;
}

.adminScreenContainer{
   font-family: Arial, sans-serif;
   margin-left: 20px;
   margin-top: 10px;
  overflow-y: hidden;
}
.tabSubHeader{
  margin-bottom: 16px;
}

.adminInstallation {
  height: 100%;
}
