:global(.learningAgentsList) :global(.card-container) {
  height: 95px;
  min-height: 95px;
}

:global(.learningAgentsList) :global(.card) {
  min-height: 95px;
}

:global(.learningAgentsList) :global(.card-description) {
  display: none;
}
